In [18]:
import pandas as pd

data = pd.read_csv("./data/games_price/約旦_info.csv")
data["價格"] = data["價格"].str.replace(r'[^\d.]', '', regex=True)
data = data.dropna(subset=["價格"])
data = data.query("價格 != ''")
data["價格"] = data["價格"].astype(float)
data

                             遊戲名稱  國家      價格
0                     Garena 傳說對決  jo    2.35
1                            絕世仙王  jo   72.00
3                             天堂W  jo   66.00
5                            少女迴戰  jo   71.00
7                            機動戰姬  jo   83.50
..                            ...  ..     ...
406                          蛇蛇貪吃  jo  143.00
408              旅遊大亨2：Meta World  jo   74.00
409                   無名騎士團：像素的英雄  jo   62.50
410                     LINE 旅遊大亨  jo   83.00
411  MLB Perfect Inning: Ultimate  jo  178.00

[305 rows x 3 columns]